body{
	text-align:center
}
section{
	width:auto;
	display:inline-block;
	text-align:center;
}
article{
	border: 1px solid dimgrey;
	color: LightGrey;
	display: inline-block;
	height: 100px;
	line-height: 100px;
	text-align: center;
	text-transform: capitalize;
	-moz-transition: all 0.3s linear 0.3s;
	-webkit-transition: all 0.3s linear 0.3s;
}

article{ /*default*/
	width: 60px;
	background-color: DarkGrey;
}
.very_small article{
	width: 200px;
	background-color:darkred;
}
.small article{
	width: 300px;
	background-color: yellowgreen;
}
.large article{
	width: 100px;
	background-color: orange;
	border-radius:40px;
}

